@model BLL.DTO.SaleInfoDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    <input type="submit" value="Save"/>
}

<div>
    @Html.ActionLink("Delete", "Delete", new { id = Model.SaleInfoId }) |
    @Html.ActionLink("Back to List", "Index")
</div>
