@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System sales of managers</h1>
    <p class="lead">Information about sales, statistics, lists and filters.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Please, login to see the information about sales.</h2>
        <p>
            This system created from Dzianis Tarasevich for EPAM task number five.
        </p>
        <p><a class="btn btn-default" href="http://training.by">Learn more &raquo;</a></p>
    </div>
</div>